
  @import url('theme.css');

*{
	padding: 0px;
	margin: 0px;
}

html {
  scroll-behavior: smooth;
}

body{
	width: 100%;
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	height: auto;
	font-family: 'DM Sans', sans-serif;
}
.color-1{
    color: var(--theme1)!important;
}
.color-2{
    color: var(--theme2)!important;
}
.color-3{
    color: var(--theme3)!important;
}
.lagai{
    background: #5A96E3!important;
    font-weight: bold!important;
    font-size: 15px!important;
}
.khai{
    background: #FF9EAA!important;
    font-weight: bold!important;
    font-size: 15px!important;
}

/*#113a7c*/

.header {
    width: 100%;
    height: auto;
    background: var(--theme1);
    color: #fff;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}

.logo{
	font-size: 28px;
}

.m-card {
    width: 100%;
    float: left;
    align-items: center;
    display: flex;
    box-shadow: 0 20px 10px -20px rgb(17 58 124 / 30%) inset, 0 -20px 10px -20px rgb(17 58 124 / 30%) inset;
    padding: 4px 2px;
}
.card-left {
    width: calc(100% - 40px);
    float: left;
}
.card-right-img {
    width: 40px;
    float: right;
    text-align: center;
}

.card-right-img img {
    width: 75%;
}
.id_balance{
    color: var(--theme3);
}
.live, .upcoming, .winning_game {
    font-size: 10px;
    color: #03C988;
    background: #03c98830;
    padding: 0px 5px;
    border-radius: 30px;
    font-weight: bold;
    line-height: 14px;
}
.upcoming{
    color: #6e6e6e;
    background: #6e6e6e42;
}
.winning_game{
    color: var(--theme1);
    background: #113a7c42;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
.match_time {
    font-size: 11px;
    color: var(--theme2);
    font-weight: bold;
}
.total {
    font-size: 14px;
    font-weight: bold;
    color: #00b300;
}
.m-loss{
    color: red;
}
.m_ttl {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: bold;
    color: var(--theme1);
}

.footer{
    width: 95%;
    position: fixed;
    left: 50%;
    right: 0px;
    bottom: 10px;
    background: var(--theme1);
    box-shadow: rgba(0, 0, 0, 0.2) 0px -25px 10px -20px;
    padding: 0px;
    z-index: 2;
    border-radius: 50px;
    overflow: hidden;
    transform: translateX(-50%);
}
.footer ul{padding: 0px; margin: 0px;}
.footer ul li{
	padding: 0px 0px;
    margin: 0px;
    list-style: none;
    width: 25%;
    float: left;
    text-align: center;
/*    height: 45px;*/
}
.footer ul li a{ 
    text-decoration: none;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 2px 0px;
}
.footer ul li a.active{
    background:var(--theme2) ;
    color: #FFF;    
}
.footer ul li a span{ display:block; }
.footer ul li a img{width:27px}
.final_profit {
    width: 100%;
    background: #00b300;
    display: flex;
    justify-content: space-around;
    color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 75px;
    font-weight: 500;
    line-height: 30px;
}
.game-loss{
    background: red;
}

.score_details{
    width: 100%;
    height: auto;
    box-shadow: 0 20px 10px -20px rgb(17 58 124 / 30%) inset, 0 -20px 10px -20px rgb(17 58 124 / 30%) inset;
    display: inline-block;
}
.match-ttl {
    width: 100%;
    position: relative;
    text-align: center;
    color: #fff;
    background: var(--theme1);
    font-size: 10px;
    font-weight: bold;
    overflow: hidden;
    line-height: 20px;
}
.back {
    position: absolute;
    left: 5px;
    top: -1px;
}
.back img {
    width: 22px;
}
.session {
    width: 100%;
    padding: 0px;
    font-size: 12px;
    font-weight: 500;
    border-bottom: 1px solid #e9e8e8;
    padding: 0px 10px;
}
.all_total {
    font-size: 14px;
    font-weight: bold;
    color: var(--theme1);
    padding: 0px 10px;
}
#target{
    display: none;
}

.userdata {
    background-color: hsla(244, 16%, 92%, 0.3);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    display: flex;
    flex-direction: column-reverse;
}
.userdata_list {
    width: 100%;
    height: auto;
    padding: 0px 20px;
    background: var(--theme1);
    position: relative;
}
.userdata_list ul{
    padding: 0px;
    margin: 0px;
}
.userdata_list ul li{
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-bottom: 1px solid #7e7e7e;
}
.userdata_list ul li a{
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: inline-block;
    padding: 10px 0px;
    font-weight: 500;
}
.userdata_list ul li a img{
    width: 28px;
    margin-right: 10px;
}
.closes {
    width: 50px;
    position: absolute;
    top: -50px;
    right: 0px;
}
.closes img {
    width: 100%;
}
.forget_password h4 {
    text-align: center;
    color: var(--theme1);
}
 .forget_password .form-control {
   border: none;
   border-bottom: 2px solid #eee;
   border-radius: 0px;
}
.forget_password .form-control:focus{
    box-shadow: none;
    border-bottom: 2px solid var(--theme1);
}
.btn-1 {
    background: var(--theme1);
    color: #fff;
}
.btn-2 {
    background: var(--theme2);
    color: #fff;
}
.img-forget{
    width: 150px;
    margin: 0 auto;
    text-align: center;
}
.client_ledger{
    width: 100%;
    overflow-x: scroll;
}
.client_ledger table{

}
.client_ledger table thead tr th{
    padding: 2px 5px;
    background: var(--theme1);
    color: #fff;
    font-size: 14px;

}
.client_ledger table tbody tr td img{
    width: 15px;
}
.client_ledger table tbody tr td{
    font-weight: 600;
    padding: 2px 5px;
    color: #113a7c;
    font-size: 12px;
    vertical-align: middle;
    border-right: 1px solid #dee2e6;
}
.client_ledger table tbody tr td:first-child{
    border-left: 1px solid #dee2e6;
    max-width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.client_ledger table tbody tr:last-child{
    border-bottom: 1px solid #dee2e6;
}
.client_ledger table tbody tr:nth-child(odd){
    background: #e8f1ff;
}

.live_tv {
    width: 100%;
    background: var(--theme1);
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px 5px 0px 0px;
    font-weight: 500;
}

.live_tv input[type="checkbox"]:focus{
  -webkit-tap-highlight-color:rgba(0,0,0,0) !important;
}
.live_tv input[type="checkbox"]{
  -webkit-appearance: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.style3{
    height: 32px;
    width: 40px;
    background-color: transparent;
    /* transform: skewX(-7deg); */
    transition: 0.3s;
}
.style3:before{
  content: "ON";
    position: absolute;
    width: 25px;
    height: 18px;
    background-color: transparent;
    top: 6px;
    right: 8px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #60ff00;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0px;
}
.style3:checked{
  background-color:transparent;
}
.style3:checked:before{
  content: "OFF";
  left: 8px;
  color: var(--theme3);
}
.l_tv {
    position: relative;
    height: 35px;
}
.l_tv img{
    width: 50px;
    height: 45px;
    position: relative;
    top: -5px;
}
.score_list img{
    width: 35px;
}
.score_list span{
    position: absolute;
    color: var(--theme3);
    transform: rotate(-90deg);
    left: 52%;
    font-size: 10px;
    bottom: 10px;
    font-weight: bold;
}

.match_odds table tr th{
    background: var(--theme1);
    color: #fff;
    padding: 2px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #dee2e6;
}
.match_odds table tr:nth-child(odd) td{
    background: #e3eeff;
}
    .match_odds table tr td{
    padding:  5px;
    font-size: 13px;
    font-weight: 600;
    background: whitesmoke;
    border: 1.5px solid #e5e5e5;
    height: 40px;
    vertical-align: middle;

}
.match_odds table tr td:nth-child(2),
.match_odds table tr td:nth-child(3){
   width: 52px;
}
.match_odds table tr td:first-child{
    max-width:230px;
     white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.match_session table tr td{
   line-height: 14px;
}
.match_odds table tr td .suspen{
    background: #000000c2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7px;
    color: var(--theme3);
}

.return_rate {
    font-size: 8px;
    background: #113a7ca8;
    padding: 0px 10px;
    border-radius: 50px;
    font-weight: bold;
    color: #ffffff;
}
.bet_limit {
    width: 100%;
    color: red;
    float: left;
    font-size: 8px;
    font-weight: bold;
}




@media only screen and (max-width:475px){
   .client_ledger table{
    width: 500px;
   } 
}
